<app-slider [nombre]="'Peliculas'" [size]= "'small'"></app-slider>

<div class="center">
    <section id="content">

        

        <!-- <p>{{peliculas[0].title}}</p>
        <hr />

        <p>cantidad de peliculas: {{peliculas.length}}</p>
        <hr /> -->

        <div id="fav" *ngIf="favorita">
            <h2 class="subheader">
                Pelicula favorita
            </h2>

            <h4>{{favorita.title | espar}}</h4>
            
            <h4>{{favorita.year }}</h4>
            <h4>{{fecha | date: 'short' }}</h4>
        </div>

        <!--Listado articulos-->
        <h2>Listado de peliculas</h2>

        <div *ngFor="let pelicula of peliculas; let i = index;">

            <app-pelicula
                [pelicula]="pelicula"
                (MarcarFavorita)="mostrarFavorita($event)"
            ></app-pelicula>

        </div>
    </section>
    <app-sidebar></app-sidebar>
</div>